/*
	Version: 5
	Author: Geoffrey Chong
	Website: outofthesquare.com
*/

/*
	Base styles
*/

// @import "groundwork/groundwork";
@import "fontawesome/font-awesome";

/*

*/

@font-face {font-family:"Melbourne";src:url("library/fonts/Melbourne_reg.eot?") format("eot"),url("library/fonts/Melbourne_reg.woff") format("woff"),url("library/fonts/Melbourne_reg.ttf") format("truetype"),url("library/fonts/Melbourne_reg.svg#Melbourne") format("svg");font-weight:normal;font-style:normal;}

// Spacing
$site-width: 60rem;
$base-spacing-unit: 1.5em;


// http://groundworkcss.github.io/groundwork/docs/breakpoints.html
$not-desktop: "(max-width: 1024px)";
$not-mobile: "(min-width: 481px)";

$small-mobile: "(max-width: 319px)";
$mobile: "(max-width: 480px)";
$small-tablet: "(max-width: 767px)";
$tablet: "(min-width: 768px)";
$ipad: "(min-width: 768px) and (max-width:1024px)";
$retina-ipad: "(min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2)";
$desktop: "(min-width: 1025px)";


// Colour pallet
$tbd-green: #93d8b8;
$tbd-btn-green: #71a086;
$tbd-border-green: #699179;
$tbd-url-green: #93cfaa;
$tbd-green-on-green: #5c826b;


body {
	font-size: 16px;
	color: #444;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

table th, table td {
	background-color: transparent;
}


h1, h2, h3, h4, h5, h6 {
	font-family: 'Melbourne', sans-serif;
	font-weight: 600;
}

.section {
	// margin-bottom: $base-spacing-unit;
	padding: $base-spacing-unit*2 0;
}
	.section--white { background-color: #fff; }
	.section--green {
		background-color: $tbd-green;

		a, a.button, a:visited {
			color: $tbd-green-on-green !important;
		}
	}

	.section__header {
		text-align: center;
		margin-bottom: $base-spacing-unit;
	}

	.section__footer {
		margin-top: $base-spacing-unit;
	}

	.section--background {
		padding: 6em 0;
		height: 700px;
		background-repeat: no-repeat;
		background-position: center center;
		border-bottom: 1px solid #ccc;

		&:last-child {
			border-bottom: 0;
		}

		@media #{$not-desktop}  {
			background-position: center bottom !important;
		}

		@media #{$small-tablet} {
			height: 710px;
		}

		@media #{$mobile} {
			height: 760px;
		}
	}

.feature-image {
	margin-bottom: $base-spacing-unit;
}


.review--pinned {
	.quote {
		font-size: 2.250em;
	}
}

.press-items {
	border-top: 1px solid #ccc;
	padding-top: $base-spacing-unit;
}

.press-list {
	h2 {
		font-size: 1.2em;
		margin-bottom: 0;
	}

	p {
		font-size: 0.825em;
		margin-bottom: 0.3em;
	}
}

.desc {
	h2 { margin-bottom: 0; }
	p { font-weight: 600; }

	@media #{$not-desktop} {
		text-align: center;
	}
}


.wrapper {
	margin: 0 auto;
	max-width: $site-width;

	@media #{$not-desktop} {
		padding: 0 $base-spacing-unit;
	}
}

.nav {
	background-color: transparent;
	border: 0;

	a, a:visited, button {
		background-color: transparent;
		border: 0;
		color: $tbd-green-on-green;
		border-radius: 4px;
	}

	a:hover, li.current-menu-item a {
		background-color: $tbd-btn-green;
		color: #fff;
	}
}

.main-header {
	padding: 0.5em 0;
	background-color: $tbd-green;
	
	.logo-container {
		@media #{$desktop} {
			margin-top: 0.25em;
		}

		@media #{$not-desktop} {
			width: 60%;
		}
	}

	.nav-container {
		@media #{$not-desktop} {
			padding: 0.5em 0;
			width: 40%;
		}
		@media #{$mobile} {
			padding: 0;
		}
	}

	.logo {
		display: block;

		img { display: block; }
	}

	.nav {
		float: right;

		li {
			padding: 0.5em 0;
		}
	}

	.social {
		padding: 0.1em 0 !important;
		font-size: 1.750em;

		a {
			padding: 0;

			&:before {
				display: none;
			}

			&:hover {
				background-color: transparent;
				color: $tbd-btn-green;
			}
		}
	}
	

	.mobile-nav-trigger {
		color: $tbd-btn-green;
		font-size: 1.5em;
	}
}

.mobile-nav {
	background-color: $tbd-btn-green;
	border-radius: 0 !important;

	li {
		border-top: 1px solid $tbd-border-green;
	}

	a {
		padding: 1em !important;
		color: #fff !important;
		border-radius: 0 !important;
		text-align: right !important;

		&:hover { background-color: $tbd-border-green; }
	}
}


.sub-header {
	margin-bottom: 1.5em;
	padding: 1em 0;
	color: #7a7a7a;
	background-color: #f1f1f1;

	.heading-title {
		margin: 0;
		font-size: 1.5em;
		color: #7a7a7a;
		font-family: Helvetica,Arial,Geneva,sans-serif;
		font-weight: normal;

		@media #{$mobile} {
			text-align: center;
		}
	}

	.nav {
		float: right;
	}

	@media #{$mobile} {
		padding: 1em 0 0.3em;
	}
	
}

.hero {
	padding-top: $base-spacing-unit;
	background: url('library/images/hero-image-wide.jpg') no-repeat center 50%;

	.intro {
		margin-top: 3.7em;
		margin-right: 1.5em;
		color: #eee;
		text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7);

		h1 {
			font-size: 3.750em;
			font-weight: 600;
			line-height: 1;

			@media #{$not-desktop} {
				font-size: 2.375em;
			}
		}

		p {
			font-size: 1.125em;
			font-weight: 600;
		}

		@media #{$small-tablet} {
			margin-right: 0;
			text-align: center;
		}
	}

	.app-preview {
		text-align: center;

		.mobile-image {
			display: block;
			margin: 0 auto;
		}
	}

		.watch-video {
			position: absolute;
			bottom: 6em;
			left: 0;
			right: 0;
			margin: auto;
			z-index: 10;
			text-align: center;
			padding: 0.5em;
			background-color: #fff;
			width: 160px;
			height: 40px;
			font-weight: 600;
			box-shadow:	0 0 10px 0px rgba(0,0,0,0.5);
			
			&:active, &:visited {
				color: $tbd-url-green;
			}

			&:hover {
				text-decoration: none;
				box-shadow:	0 0 10px 0px rgba(0,0,0,0.7);
			}

			@media #{$mobile} {
				bottom: 1em;
			}
		}

	.sharing {
		margin-top: -4em;
		padding: 1em 0 0.6em;
		background: rgb(242, 242, 242); /* The Fallback */
		background-color: rgba(255,255,255,0.6);
		
		a {
			&:before {
				display: none;
			}
		}

		.download-app {
			width: 20%;
			
			@media #{$desktop} {
				width: 16%;
			}

			@media #{$ipad} {
				width: 17%;
			}

			@media #{$small-tablet} {
				width: 21%;
			}
		}

		.nav {
			a, a:visited, .button, .button:visited {
				padding: 0.67em 1em;
				background-color: $tbd-btn-green;
				color: #fff;
				border: 0;
			}
		}

		.mobile-share-nav {
			position: relative;
			width: 159px;
			border-radius: 4px;
			padding: 0.5em 0.8em;
			background-color: $tbd-btn-green;
			border: 1px solid $tbd-border-green;


			> a {
				background-color: $tbd-btn-green;
				color: #fff;
				display: block;
				@extend .cf;

				&:before {
					display: none;
				}

				.title { float: left; }

				i {
					float: right;
					padding: 0.2em 0;
					font-weight: 600;
					color: #fff !important;
				}
			}

			.nav {
				position: absolute;
				left: 0;
				margin-top: 0.5em;
				padding: 0 1px;
				border: 1px solid $tbd-border-green;
				border-top-right-radius: 0;
				border-top-left-radius: 0;
				border-bottom-right-radius: 4px;
				border-bottom-left-radius: 4px;

				a {
					border-radius: 0 !important;
					padding: 0.5em !important;
					background-color: transparent !important;
					border-bottom: 1px solid $tbd-border-green;
				}
			}

			@media #{$small-tablet} {
				margin: 0 auto;
			}
		}

		@media #{$small-tablet} {
			margin-top: 0;
			text-align: center;
		}

		@media #{$mobile} {
			text-align: center;

			.nav {
				color: #fff;
				padding: 0.5em;
				background-color: $tbd-btn-green;

				li {
					border-top: 3px solid $tbd-btn-green;
				}

					a, a:visited {
						background-color: $tbd-green !important;
					}
			}
		}
	    
	}

	@media #{$not-desktop} {
		background-size: cover;
	}
}

.main-content {
	a, a:visited, a:active {
		text-decoration: none;
		color: $tbd-url-green;

		// &:hover {
		// 	text-decoration: none;
		// }
	}
}

a.button, a.button:visited, .button, .button:visited {
	color: $tbd-btn-green;
	background-color: transparent;
	border: 1px solid $tbd-btn-green;
	font-weight: 100;

	&:hover {
		background-color: $tbd-btn-green;
		color: #fff !important;
	}
}

.grid-list {
	li {
		padding: $base-spacing-unit*0.5;
	}
}

.features {
	text-align: center;
	
	.viewport {
		@media #{$mobile} {
			overflow-x: scroll;
		}
	}

	.features-list {
		margin-bottom: $base-spacing-unit*1.5;
		
		li {
			padding: $base-spacing-unit;
		}

		.button {
			margin-top: $base-spacing-unit*0.5;
		}

		@media #{$mobile} {
			width: 60rem;
		}
	}

	.benefits-list {
		margin-bottom: $base-spacing-unit*2;
		padding-top: $base-spacing-unit*1.5;
		border-top: 1px solid #ccc;
		text-align: left;
		font-size: 0.875em;

		li {
			font-weight: 600;
			
			i {
				font-size: 1.563em;
				width: 12%;
			}

			p {
				width: 88%;
				font-weight: 600;
			}

			i, p {
				float: left;
			}
		}
	}
}

.reviews {
	text-align: center;
	color: #fff;
}

	.green-tab {
		margin: 0 auto;
		padding-top: 0.3em;
		width: 140px;
		height: 37px;
		font-size: 2em;
		color: #fff;
		text-align: center;
		background-image: url('library/images/green-tab.png');
		background-repeat: no-repeat;
	}


.read-more {
	font-size: 0.875em;
	display: block;
}


.twitter {
	text-align: center;

	h2 {
		font-size: 3em;
		color: #55acee;
	}
	
	.tweet { font-size: 1.25em; }
	.timePosted { color: #aaa; }
	.interact { display: none; }
}

.gform_fields {
	margin: 0;
	padding: 0;
	list-style: none;

	li {
		margin-bottom: $base-spacing-unit
	}
}

.main-footer {
	margin-top: $base-spacing-unit;
	padding: 0.5em 0;
	border-top: 1px solid #ccc;
	
	p {
		margin-top: 1em;
	}

	.footer-nav {
		a, a:visited, button {
			padding: 0;
			font-weight: 100;

			&:before {
				display: none;
			}

			&:hover {
				background-color: transparent;
				color: $tbd-btn-green;
			}
			
			@media #{$small-tablet} {
				padding: 0.3em 0;
			}
		}
		
		li {
			@media #{$small-tablet} {
				float: none;
				border-bottom: 1px solid #ccc;
			}
		}
	}

	.oots-logo {
		float: right;

		&:after {
			display: none;
		}

		img {
			display: block;

			@media #{$small-tablet} {
				margin: 0 auto;
			}
		}

		@media #{$small-tablet} {
			float: none;
		}
	}

	@media #{$small-tablet} {
		text-align: center;
	}
}

.blackout {
	width: 100%;
	height: 100%;
	z-index: 991;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.8);
	top: 0;
}

.popout-video {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 992;

	table {
		width: 100%;
		height: 100%;
		td {
			vertical-align: middle;
		}
	}

	.video--container {
		position: relative;
		text-align: center;
	}

		iframe {
			position: relative;
			box-shadow: 0 0 5px rgb(0,0,0);
			display: block;
			margin: 0 auto;
			background-color: #000;
		}
		
		.close {
			margin-top: 0.5em;
			background-color: #fff;
			display: inline-block;
			padding: 0.5em 0.8em;
			position: relative;
			z-index: 993;
			border-radius: 4px;
		}
}

.ie9, .lt-ie9 {
	.sharing {
		margin-top: 0;
	}
}

.ie8 {
	.wrapper {
		width: 960px !important;
	}
}

@-moz-document url-prefix() {
	.sharing {
		margin-top: 0 !important;
	}
}
